@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  overflow-x: hidden;
}
.navbar {
  padding-left: 5%;
  padding-right: 5%;
}
.navbar-btn {
font-family: sofia Sans;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  height: 16px;
  border-radius: 20px;
  padding: 0 30px;
  color: white;
  :hover {
    color: black;
  }
}
.bg-image-gif {
  width: 100%;
  height: autos;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  background-image: url('../public/cleaning-gif.gif');
  background-position: center;
}
.heading {
font-family: Source Sans 3;
  font-size: 26px;
  font-weight: 700;
  line-height: 56.96px;
  letter-spacing: 0.04em;
  text-align: left;
    color:  #0A86B6;
}
.heading-span {
  font-family: Sonsie One;
    font-size: 26px;
    font-weight: 400;
    line-height: 51.76px;
    letter-spacing: 0.04em;
    text-align: left;
    color: white;
    margin-bottom: 0px;
}
.para {
  font-family: Sofia Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F2EFEF;
}
.topContainer-btn {
    height: 16px;
    padding: 0 40px;
    border-radius: 20px;
    outline-color: #0A86B6;
    color: #F2EFEF;
}
.top-image-container {
  width: 248px;
    height: 370px;
    top: 69.08px;
    left: 721.81px;
    gap: 0px;
    border-radius: 80px;
    border: 12px solid #0A86B6;
    transform: rotate(350deg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15%;
    background-image: url('../public/street.jpg');
    background-position: center;
}
.top-image-container-1 {
  width: 210px;
  height: 300px;
  top: 69.08px;
  left: 721.81px;
  gap: 0px;
  border-radius: 80px;
  border: 12px solid #0A86B6;
  transform: rotate(350deg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
  background-image: url('../public/street.jpg');
  background-position: center;
}

.top-office-container {
  width: 180.92px;
    height: 260.28px;
    left: 1097.02px;
    gap: 0px;
    border-radius: 90px;
    border: 12px solid #0A86B6;
    transform: rotate(7.3deg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    margin-left: 10%;
    background-image: url('../public/office.jpg');
    background-position: center;
}
.top-office-container {
  width: 140.92px;
  height: 240.28px;
  left: 1097.02px;
  gap: 0px;
  border-radius: 90px;
  border: 12px solid #0A86B6;
  transform: rotate(7.3deg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
  margin-left: 10%;
  background-image: url('../public/office.jpg');
  background-position: center;
}
.top-desk-container {
  width: 80px;
    height: 80px;
    top: 391.79px;
    left: 1102px;
    gap: 0px;
    border-radius: 100px;
    background-repeat: no-repeat;
      background-size: cover;
      margin-top: 10%;
      margin-left: 30%;
      background-image: url('../public/desk.jpg');
      background-position: center;
}
.top-container-bottom {
  width: 100%;
    height: 137px;
    top: 655px;
    gap: 0px;
    padding-left: 5%;
    padding-right: 5%;

}
.items {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin-left: 11%;
}
.top-container-bottom-1 {
width: 100%;
height: 277px;
top: 792px;
padding: 32px;
gap: 0px;
padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 7%; */
}

.icon-container {
  width: 60px;
    height: 60px;
    padding: 15px;
    gap: 10px;
    border-radius: 64px;
    border: 1px dotted #10536D;
    background-color: #ffffff;
}
.text-para {
  font-family: Sofia Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.text-heading {
  font-family: Sora;
  font-size: 20px;
  font-weight: 600;
  line-height: 35.28px;
  color: #0A86B6;
}
.middle-container {
  width: 100%;
  top: 1123px;
  gap: 0px;
}
.big-frame {
  border-radius: 100px;
  border: 12px solid #0A86B6;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/frame-big.jpg');
  background-position: center;
}
.small-frame {
  border-radius: 100px;
  border: 12px solid #0A86B6;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  left: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/frame-small.jpg');
  background-position: center;
}
.little-frame {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top: 12px solid #0A86B6;
  border-right: 12px solid #0A86B6;
  border-left: 12px solid #0A86B6;
  border-bottom: 12px solid transparent;
  border-color: #0A86B6;
  position: absolute;
  z-index: 1000;
  margin-left: -10%;
}
.little-frame-h {
  color: #10536D;
  font-family: Sofia Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}
.little-frame-p {
  color: #10536D;
  font-family: Sofia Sans;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.inner-container {
height: 100%;
display: flex;
flex-direction: column;
margin: 15% 5% 0px;
}
.inner-about {
  font-family: Sofia Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #10536D;
}
.inner-heading {
  font-family: Sofia Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 15px;
}
.inner-para {
  font-family: Sofia Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-top: 12px;
}
.inner-more {
  font-family: Sofia Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #0A86B6;
}
.service-container {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/service-bg.jpg');
  background-position: center;
}
.card-text {
  font-family: Sofia Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 28.8px;
}
.service-l-h {
  font-family: Sofia Sans;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #0DBBFF
}
.service-l-p {
  font-family: Sofia Sans;
  font-size: 20px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    text-align: left;
    color: white;
    margin-top: 10px;
}
.service-r-p {
  font-family: Sofia Sans;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
    color: white;
}
.glass {
  padding: 5%;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
.why-container {
  padding: 20px 0;
}
.why-left-container {
  width: 100%;
  height: 100%;
  top: 30px;
  left: 72px;
  gap: 0px;
  padding: 5%;
}
.why-small-img {
  left: 19px;
  gap: 0px;
  border-radius: 100px;
  border: 12px solid #0A86B6;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 64%;
  background-image: url('../public/why-small.png');
  background-position: center;
}
.why-right-container {
  padding: 10% 0 5% 5% ;
}
.why-h {
  font-family: Sofia Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #10536D;
  }
  .why-p {
    font-family: Sofia Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .why-span {
    font-family: Sofia Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #000000;
  }
  .process-container {
    background: rgb(13, 187, 255);
      background: linear-gradient(48deg, rgba(13, 187, 255, 0.6362920168067228) 1%, rgba(255, 255, 255, 1) 14%, rgba(255, 255, 255, 1) 84%, rgba(13, 187, 255, 0.4318102240896359) 100%);
    padding-bottom: 10px;
  }
    .inner-process-container {
      padding: 5%;
    }
  .proces-diagram-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 40px auto;
  }
  .process-diagram-inner {
    width: 50px;
      height: 50px;
      left: 5.5px;
      padding: 12px;
      gap: 10px;
      border-radius: 64px;
      background: #0A86B6;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /* .diagram-container {}
  .process-icon {} */
  .process-divider {
    height: 70px;
    width: 0px;
    border: 0.5px solid #383838;
    margin-left: 25px;
  }
  .figure {
    width: 20px;
      height: 20px;
      border-radius: 100px;
      border: 1px;
      background-color: #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      position: absolute;
      margin-top: 50px;
  }
  /* .process-heading-container {
  
  } */
  .process-h {
    font-family: Sofia Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #10536D;
      margin-bottom: 10px;
  }
  .process-p {
    font-family: Sofia Sans;
      font-size: 20px;
      font-weight: 700;
      line-height: 33.6px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #000000;
  }
  .process-text {
    font-family: Exo 2;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      color: #000000;
      position: absolute;
      z-index: 100;
      margin-left: 80px;
      margin-top: -38px;
  }
  .bottom-container {
    width: 100%;
      height: auto;
      gap: 0px;
      background: #0A86B61F;
      padding: 5% 3% 6% 3%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .testimonies-h {
    font-family: Sofia Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #10536D;
      margin-left: 5%;
      margin-bottom: 10px;
  }
  .testimonies-p {
    font-family: Sofia Sans;
      font-size: 20px;
      font-weight: 700;
      line-height: 33.6px;
      letter-spacing: 0.02em;
      text-align: left;
      margin-left: 5%;
      margin-bottom: 20px;
  }
  .testimonies-card-container {
    width: auto;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    ::-webkit-scrollbar {
        display: none;
      }
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
  }
  .testimonies-card {
    width: 280px;
      height: 200px;
      top: 205px;
      left: 152px;
      border-radius: 20px;
      background: #FFFFFF;
      margin-right: 20px;
  }
  .testimonies-card-img-container {
    width: 100px;
      height: 96px;
      border-radius: 0px 100px 100px 0px;
      background: #0A86B6;
      margin-top: 20%;
  }
  .testimonies-card-img1 {
    width: 60px;
      height: 60px;
      top: 61px;
      left: 38px;
      border-radius: 100px;
      gap: 0px;
      border: 2px;
      background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../public/testimonies-img1.jpg');
        background-position: center;
  }
    .testimonies-card-img2 {
      width: 60px;
      height: 60px;
      top: 61px;
      left: 38px;
      border-radius: 100px;
      gap: 0px;
      border: 2px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../public/testimonies-img2.jpg');
      background-position: center;
    }
         .testimonies-card-img3 {
           width: 60px;
           height: 60px;
           top: 61px;
           left: 38px;
           border-radius: 100px;
           gap: 0px;
           border: 2px;
           background-repeat: no-repeat;
           background-size: cover;
           background-image: url('../public/testimonies-img3.jpg');
           background-position: center;
         }
                    .testimonies-card-img4 {
                      width: 60px;
                      height: 60px;
                      top: 61px;
                      left: 38px;
                      border-radius: 100px;
                      gap: 0px;
                      border: 2px;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('../public/testimonies-img4.jpg');
                      background-position: center;
                    }
  .testimonies-card-name {
    font-family: Exo 2;
      font-size: 14px;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: -0.02em;
      text-align: left;
      margin-top: 20%;
      margin-left: 20px;
  }
  .testimonies-card-title {
    font-family: Exo 2;
      font-size: 12px;
      font-weight: 500;
      line-height: 19.2px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #746F6F;
      margin-left: 20px;
  }
  .testimonies-quote-container {
  width: 40px;
  height: 40px;
  background: #D9D9D954;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0px 0px 20px;
  }
  .testimonies-card-bottom-text {
    font-family: Exo 2;
      font-size: 12px;
      font-weight: 500;
      text-align: left;
      color: #746F6F;
      margin: 20px 8% 0 12%;
  }

.footer-container {
  width: 100%;
  height: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15px;
}

.footer-menu-items {
  font-family: Sofia Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #344054;
}

.footer-reserve-text {
  font-family: Sofia Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #344054;
}
.about-bg {
  width: 100%;
    height: autos;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    background: #E8F1F4;
}
.about-heading {
  font-family: Source Sans 3;
  font-size: 26px;
  font-weight: 700;
  line-height: 56.96px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #0A86B6;
}

.about-heading-span {
  font-family: Sonsie One;
  font-size: 26px;
  font-weight: 400;
  line-height: 51.76px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000000;
  margin-bottom: 0px;
}
.about-para {
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #524F4F;;
}
.about-img-big {
  width: 210px;
    height: 300px;
    top: 69.08px;
    left: 721.81px;
    gap: 0px;
    border-radius: 80px;
    border: 12px solid #0A86B6;
    transform: rotate(350deg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    background-image: url('../public/about-img-big.png');
    background-position: center;
}

.about-img-mid {
  width: 140.92px;
  height: 240.28px;
  left: 1097.02px;
  gap: 0px;
  border-radius: 90px;
  border: 12px solid #0A86B6;
  transform: rotate(7.3deg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
  margin-left: 10%;
  background-image: url('../public/about-img-mid.png');
  background-position: center;
}

.about-img-sm {
  width: 80px;
  height: 80px;
  top: 391.79px;
  left: 1102px;
  gap: 0px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
  margin-left: 30%;
  background-image: url('../public/aout-img-small.png');
  background-position: center;
}
.about-middle-container {
  width: 100%;
  height: auto;
  padding: 5%;
}
.about-middle-inner-container {
  width: 100%;
  height: auto;
  background: #0A86B6;
  border-radius: 39px;
}
.about-card {
  width: 158px;
    height: 119px;
    margin:  10% 5%;
    border-radius: 20px;
    background: #FFFFFF;
}
.about-card-icon-container {
  width: 60px;
    height: 60px;
    padding: 10px;
    gap: 10px;
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-card-figure {
  font-family: Sofia Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: center;
    color: #181616;
}
.about-card-para {
  font-family: Sofia Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: center;
    color: #181616;
}
.about-middle-inner-l {}
.about-middle-inner-r-text-container {
padding: 5%;
}
.about-middle-r-h {
  font-family: Sofia Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
}
.about-middle-r-text {
  font-family: Sofia Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 15px;
}
.about-bottom-container {}
.about-bottom-inner-container {}
.about-big-frame {
  border-radius: 100px;
  border: 12px solid #0A86B6;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/about-frame-big.png');
  background-position: center;
}

.about-small-frame {
  border-radius: 100px;
  border: 12px solid #0A86B6;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  left: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/about-frame-small.png');
  background-position: center;
}
.contact-container {
  padding: 5%;
}
.contact-heading {
  font-family: Sofia Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    text-align: center;
}
.contact-label {
  font-family: Sofia Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 15px 0px 3px 0px;
}
.contact-left-details-container {
  width: 100%;
    height: 380px;
    border-radius: 60px;
    background: linear-gradient(180deg, #0A86B6 77.08%, #0DBBFF 100%);
    padding: 20% 5% 0px 5%;
    margin-top: 10px;
  }
.contact-left-heading {
  font-family: Sofia Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;
}
.contact-left-para {
  font-family: Sofia Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 10px;
}
.booking-inner-container {
  margin: 5%;
}
.group-input {
  font-family: Sofia Sans;
}
input {
  font-family: Sofia Sans;
}
.admin-navbar {
  width: 100%;
    height: 70px;
    border-bottom: 1px solid #B7B1B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
    background-color:  #f1f0f0;
}
.search-m-container {
  padding: 0px 0px 0px 5%;
}
.admin-container {
  /* border-bottom: 1px solid #B7B1B1; */
  width: 100%;
  height: auto;
  background-color: #f1f0f0;
}
.drawer-container-lg {
  background: #0A86B6;
  height: 100%;
}
.drawer-container-sm {
  background: #0A86B6;
}
.drawer-search-container {
  padding: 0px 5%;
}
.admin-main-content-container {
  padding: 10px 5%;
  background-color: #f1f0f0;
}
.admin-card {
  width: 266px;
    height: 100px;
    border: 0.44px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.admin-card-figure {
font-size: 16px;
margin-bottom: 8px;
}
.bookings-container {
  background-color: #f1f0f0;
}

.admin-card-text {
font-size: 12px;
width: 100%;
text-align: center;
}
.admin-card-icon {
margin: -8% 0px 0px 20%;
z-index: 10px;
}
.booking-list-container {
  min-width: 100px;
}